<h2 mat-dialog-title>Agregar Cliente</h2>

<mat-dialog-content>
  <form [formGroup]="clienteForm">

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Nombre del Cliente</mat-label>
      <input matInput formControlName="nombreCliente" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Teléfono</mat-label>
      <input matInput formControlName="telefono" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Estado</mat-label>
      <mat-select formControlName="status">
        <mat-option value="A">Activo</mat-option>
        <mat-option value="I">Inactivo</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Empresa ID</mat-label>
      <input matInput type="number" formControlName="empresaId" />
    </mat-form-field>

  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="cerrar()">Cancelar</button>
  <button mat-button color="primary" (click)="guardar()" [disabled]="clienteForm.invalid">
    Guardar
  </button>
</mat-dialog-actions>
