<mat-drawer-container class="example-container" autosize>
    <mat-toolbar>
        <button mat-icon-button (click)="drawer.toggle()" aria-label="Toggle menu">
            <mat-icon>menu</mat-icon>
        </button>
        <span>Menu</span>
    </mat-toolbar>

    <mat-drawer #drawer class="example-sidenav" mode="over">
    <a mat-button class="menu-link" routerLink="parentesco">Parentesco</a>
    <a mat-button class="menu-link" routerLink="Referencia_Empleado">Referencia Empleado</a>
    <a mat-button class="menu-link" routerLink="Usuarios">Usuarios</a>
    <a mat-button class="menu-link" routerLink="Roles">Roles</a>
    <a mat-button class="menu-link" routerLink="Tipo_Acciones">Tipo Acciones</a>
    <a mat-button class="menu-link" routerLink="Tipo_Solicitudes">Tipo Solicitudes</a>
    <a mat-button class="menu-link" routerLink="solicitudes_varias">Solicitudes Varias</a>
    <a mat-button class="menu-link" routerLink="tipo_documento">Tipos de Documentos</a>
    <a mat-button class="menu-link" routerLink="tipo_solicitudesVarias">Tipos Solicitudes Varias</a>
    </mat-drawer>

    <div class="example-sidenav-content">
        <router-outlet></router-outlet>
    </div>
</mat-drawer-container>
