<h2 mat-dialog-title>
  {{ form.get('idTipoDocumento')?.value ? 'Editar Tipo de Documento' : 'Agregar Tipo de Documento' }}
</h2>

<mat-dialog-content>
  <form [formGroup]="form">

    <!-- ID solo cuando se está editando -->
    <ng-container *ngIf="form.get('idTipoDocumento')?.value !== null">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>ID</mat-label>
        <input matInput formControlName="idTipoDocumento" readonly>
      </mat-form-field>
    </ng-container>

    <!-- Nombre del tipo de documento -->
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Nombre del documento</mat-label>
      <input matInput formControlName="tipoDocumentoNombre" />
      <mat-error *ngIf="form.get('tipoDocumentoNombre')?.hasError('required')">
        El nombre es obligatorio.
      </mat-error>
      <mat-error *ngIf="form.get('tipoDocumentoNombre')?.hasError('maxlength')">
        Máximo 100 caracteres.
      </mat-error>
    </mat-form-field>

  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="cerrar()">Cancelar</button>
  <button
    mat-button
    color="primary"
    (click)="guardar()"
    [disabled]="form.invalid"
  >
    Guardar
  </button>
</mat-dialog-actions>
