<button mat-button (click)="openDialog()">Crear Tipo de Documento</button>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="idTipoDocumento">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element">
        {{ element.idTipoDocumento }}
      </td>
    </ng-container>

    <ng-container matColumnDef="tipoDocumentoNombre">
      <th mat-header-cell *matHeaderCellDef> Nombre del Documento </th>
      <td mat-cell *matCellDef="let element">
        {{ element.tipoDocumentoNombre }}
      </td>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="primary" (click)="editTipoDocumento(element)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deleteTipoDocumento(element.idTipoDocumento)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    aria-label="Select page of tipos de documento">
  </mat-paginator>
</div>
